name: update-database

on:
  workflow_dispatch:  # permite correrlo manualmente desde GitHub
  schedule:
    - cron: '0 * * * *'  # cada hora (puedes cambiarlo)

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar el repositorio
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: |
        pip install -r requirements.txt

    - name: Verificar si requests está instalado
      run: pip show requests || echo "requests no instalado"
      
    - name: Verificar conectividad Supabase
      run: |
        echo "Probando DNS con ping:"
        ping -c 3 ugszwjxitzbokzcnyhhe.supabase.co || echo "Ping fallido"
    
        echo "Probando CURL con endpoint válido:"
        curl -i https://ugszwjxitzbokzcnyhhe.supabase.co/rest/v1/ || echo "Curl fallido"
        
        echo "Probando CURL :"
        curl -i https://ugszwjxitbzokzcnyhhe.supabase.co || echo "Curl fallido"



    - name: Ejecutar el cron job
      env:
        SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
        SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        AQICN_TOKEN: ${{ secrets.AQICN_TOKEN }}
        AQICN_STATION: ${{ secrets.AQICN_STATION }}
      run: python cron_job.py
